<!-- view/partials/navbar.ejs -->

<div>
    <nav>
        <h1>SMK Hacktiv8</h3>
        <h3>Jakarta Selatan - Indonesia</h3>
        
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/teacher">Teacher</a></li>
            <li><a href="/subject">Subject</a></li>
            <li><a href="/student">Student</a></li>
        </ul>
    </nav>
</div>