<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>SMK Hacktiv8</title>
</head>
<body>
        <div class="page-header">
            <div class="container text-center">
                <h1>SMK Hacktiv8</h1>
                <h3>Jakarta Selatan - Indonesia</h3>
            </div>
        </div>
        <center>
                <a href="/">
                    <button type="button" name="button" class="btn  btn-primary"><span class="glyphicon glyphicon-home"></span> Dashboard</button>
                  </a>
                  <a href="/teachers">
                    <button type="button" name="button" class="btn  btn-info"><span class="glyphicon glyphicon-tree-deciduous"></span> Teachers</button>
                  </a>
                  <a href="/students">
                    <button type="button" name="button" class="btn  btn-success"><span class="glyphicon glyphicon-education"></span> Students</button>
                  </a>
                  <a href="/subjects">
                    <button type="button" name="button" class="btn btn-warning"><span class="glyphicon glyphicon-blackboard"></span> Subjects</button>
                  </a>
                </center>
                <br/>
</body>
</html>
