<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center">Subject Data</h1>
    <div class="col-md-6 offset-md-3">
        <p class="text-center">
            <a href="/subjects/add">Add Subject</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Teaches</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% datas.map((data)=>{ %>
                    <tr>
                        <th scope="row">
                            <%=data.id %>
                        </th>
                        <td>
                            <%=data.subject_name %>
                        </td>
                        <td>
                            <ul>
                                <%data.Teachers.map((teacher)=> { %>
                                    <li>
                                        <%=teacher.first_name + ' ' + teacher.last_name%>
                                    </li>
                                    <%})%>
                            </ul>
                        </td>
                        <td>
                            <a href="/subjects/<%=data.id%>/enrolledstudents">Enrolled Student</a>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </div>
</body>

</html>