<html>
<body>
<h1>Add Students Data</h1>
<form class="" action="/students/add" method="post">
  <%if (err !== '') {%>
    <%= err.message %>
  <%}%>
  <input type="text" placeholder="first name" name="first_name">
  <input type="text" placeholder="last name" name="last_name">
  <input type="text" placeholder="email" name="email">
  <button>SUBMIT</button>
</form>
</body>
</html>
