<html>
<body>
<h1>Edit Student Data</h1>
<form class="" action="/students/edit/<%=data_student.id%>" method="post">
  <input type="text" placeholder="First Name" name="first_name" value=<%=data_student.first_name%>>
  <input type="text" placeholder="Last Name" name="last_name" value=<%=data_student.last_name%>>
  <input type="text" placeholder="Email" name="email" value=<%=data_student.email%>>
  <button>EDIT</button>
</form>
</body>
</html>
