<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="background"></div> 
        <img class="header-background" src="img/header-img.jpg" alt="hacktiv8-img">
        <header>
            <a href="/">
                <img class="logo" src="img/hacktiv8-logo.png" alt="hacktiv8-logo">
            </a>
            <div class="menu">
                <nav>
                    <a href="/student">Student</a>
                    <a href="/teacher">Teacher</a>
                    <a href="/subject">Subject</a>
                </nav>
            </div>
        </header>
        <div class="content-container">
            <div class="content">
                <table>
                    <tr>
                      <th>Student ID</th>
                      <th>Name</th> 
                    </tr>
                    <% for(let i=0; i<data.length; i++){ %>
                        <tr>
                            <td><%= data[i].StudentId %></td>
                            <td><%= data[i].Student.name %></td> 
                        </tr>
                    <% } %>
                  </table> 
            </div>
        </div>
    </body>
</html>