<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registration </title>
    </head>
<body>
    <h1>Add Students Data</h1>
		<a href = "/students">show all data</a>
		<form class= 'form-inline' action='/students/add' method = 'post'>
			<%if(error !== null){%>
				<h4><%=error%></h4>
			<%}else{%>
				<label>Firstname</label>
				<input type ='text' placeholder='first name' class="form-control"  name='first_name'> </br>
				<label>Lastname</label>
				<input type ='text' placeholder='last_name' class="form-control"  name='last_name'> </br>
				<label>Email</label>
				<input type ='text' placeholder='email' class="form-control"  name='email'></br>
				<button> Add Student </button> 

			<%}%>
           
	</form>
</body>
</html>
