<!-- views/formTeacher.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Add Student</h1>
        <form name="form" method="POST" action="/student/add">
            <table>
                <tr>
                <td>First Name</td>
                <td><input type="text" name="first_name" ></td>
                </tr>
                <tr>
                <td>Last Name</td>
                <td><input type="text" name="last_name" ></td>
                </tr>
                <tr>
                <td>Email</td>
                <td><input type="text" name="email" ></td>
                </tr>
                <tr>
                <td colspan="2"><input type="submit" value="Save" ></td>
                </tr>
            </table>
            </form>
    </div>
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
