<body>
    <h1>Add Teacher</h1>
    <form name="form" method="POST" action="/teachers/add">
    <table>
        <tr>
        <td>First Name</td>
        <td><input type="text" name="first_name" required></td>
        </tr>
        <tr>
        <td>Last Name</td>
        <td><input type="text" name="last_name" required></td>
        </tr>
        <tr>
        <td>Email</td>
        <td><input type="email" name="email" required></td>
        </tr>
        <tr>
        <td>Subject</td>
        <td><select name="id_subject">
            <option value="" selected> </option>
          <%data_subject.forEach((data_subject) =>
          {
            %>
            <option value="<%= data_subject.id%>" %>> <%= data_subject.subject_name %> </option>
          <%})%>
          </select></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
</body>
