<!-- views/formTeacher.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Add Subject for Student</h2>
        <form name="form" method="POST" action="/student/<%= students.id %>/addsubject">
            <table>
                <tr>
                <td>Student Name</td>
                <td><input type="text" name="student_name" value="<%= students.first_name + ' '+students.last_name%>" disabled></td>
                </tr>
                <tr>
                <td>Subject Name</td>
                <td><select name="SubjectId">
    
                <% subjects.forEach((subject) => { %>
                    <option value=<%= subject.id %>><%= subject.subject_name %></option>
                <%})%>
            </select></td>
                </tr>
                <tr>
                <td colspan="2"><input type="submit" value="Add" ></td>
                </tr>
            </table>
            </form>
    </div>
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
