<!DOCTYPE html>
<html>
    <head>
        <title>Edit Students Data</title>
    </head>
    <body>
        <h1>Edit Students Data</h1>
        <form action="/students/edit/<%= data.id %>" method= "post">
            First name:<br>
            <input type="text" name="first_name" placeholder= "First name" value = <%= data.first_name %>>
            <br>
            Last name:<br>
            <input type="text" name="last_name" placeholder= "Last Name" value = <%= data.last_name %>>
            <br>
            Email:<br>
            <input type="text" name="email" placeholder= "Email" value = <%= data.email %>>
            <br>
            <input type="submit" value="Edit Student">
          </form>
    </body>
    <footer>

    </footer>
</html>