<html>
    <head>
    </head>

    <body>
        <form action="/studentform">
            Full name:<br>
            <input type="text" name="fullname"><br>
            Passwords:<br>
            <input type="text" name="passwords"><br>
            <input type="submit" value="Submit">
        </form>
    </body>


</html>