<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add subjects </title>
    </head>
<body>
    <h1>Add Subjects Data</h1>
    <a href = "/subjects">show all data</a>
    <form class= '' action='/subjects/add' method = 'post'>
      <input type ='text' placeholder='subject name' name='subject_name'> </br>
      <button> Add Subject </button>      
  </form>

</body>
</html>
