<!DOCTYPE html>
<html>
    <head>
        <title>Add Teachers Data</title>
    </head>
    <body>
        <h1>Add Teachers Data</h1>
        <form action="/teachers/add" method= "post">
            First name:<br>
            <input type="text" name="first_name" placeholder= "First name">
            <br>
            Last name:<br>
            <input type="text" name="last_name" placeholder= "Last Name">
            <br>
            Email:<br>
            <input type="text" name="email" placeholder= "Email">
            <br>
            Subject:<br>
            <input type="text" name="email" placeholder= "Subject">
            <br>
            <input type="submit" value="Add Teacher">
          </form>
    </body>
    <footer>

    </footer>
</html>
