<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/css.css">
  <title><%= title %></title>
</head>

<body>
  <h1><%= h1 %></h1>
  <form action="/send" method="post">
    Student Name:<br>
    <input type="text" name="studentName">
    <br>
    Age:<br>
    <input type="text" name="age"><br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
