<!DOCTYPE html>
<html>
    <head>
		<% include ./index%>
        <title>Registration </title>
    </head>
<body>
	<center>
    <h1>Add Students Data</h1>
		<a href = "/students">show all data</a>
		<form class= 'form-inline' action='/students/add' method = 'post'>
			<%if(error !== null){%>
				<h4><%=error%></h4>
			<%}else{%>
				<label>Firstname</label></br>
				<input type ='text' placeholder='first name' class="form-control"  name='first_name'> </br>
				<label>Lastname</label></br>
				<input type ='text' placeholder='last_name' class="form-control"  name='last_name'> </br>
				<label>Email</label></br>
				<input type ='text' placeholder='email' class="form-control"  name='email'></br>
			</br>
				<button> Add Student </button> 

			<%}%>
           
	</form>
	</center>
</body>
</html>
