<!-- views/formTeacher.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Add Give Score for Student</h2>
        <form name="form" method="POST" action="/subject/<%= subjectstudent.id %>/givescore">
            <table>
                <tr>
                <td>Student Name</td>
                <td><input type="text" name="student_name" value="<%= students.first_name + ' '+students.last_name%>" disabled></td>
                </tr>
                <tr>
                <td>SUbject Name</td>
                <td><input type="text" name="subject_name" value="<%= subjectstudent.Subject.name %>" disabled></td>
                </tr>
                <tr>
                <% if (subjectstudent.score != null) { %>
                    <input type="text" name="score" value="<%=subjectstudent.score%>">
                <% } else {%>
                    <input type="text" name="score">
                <% } %>
                </tr>
                <tr>
                <td colspan="2"><input type="submit" value="Update Data" ></td>
                </tr>
            </table>
            </form>
    </div>
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
