<html>
  <head>
    <title>SIT Permata Bunda</title>
    <meta charset="utf-8">
    <link href="../styles/pages.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">SIT Permata Bunda</a>
        <ul>
            <li><a href="/subject">Subject</a></li>
            <li><a href="/student">Student</a></li>
            <li><a href="/teacher">Teacher</a></li>
            <li><a href="#about">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="box">
      <p>Student Name: <%=studentsubject.Student.getFullName()%></p>
      <p>Subject Name: <%=studentsubject.Subject.subject_name%></p>
      <form class="pure-form pure-form-stacked" action="/subject/<%=studentsubject.SubjectId%>/<%=studentsubject.StudentId%>/givescore" method="post">
          <fieldset>
            <label for="score">Score :</label>
            <input name="score" type="text" placeholder="Score">

            <button type="submit" class="pure-button pure-button-primary">Give Score</button>
          </fieldset>
        </form>
    </div>
  </body>
</html>