<html>
    <head>
        <link href="/style/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="tag-line">
            <h1>Welcome to Hacktiv8 School !</h1>
        </div>
        
        <div id = "logo-school">
            <img src="/images/hacktiv8.png">
        </div>

        <div id = "navigation">
            <div id = "student-link"><a href="/students">Students</a></div>
            <div id = "teacher-link"><a href="/teachers">Teachers</a></div>
            <div id = "subject-link"><a href="/subjects">Subjects</a></div>
        </div>
        

    </body>
</html>