<body>
    <h1>Welcome To Simple School App.</h1>
    <table border='1'>
        <tr>
        <td>Teachers</td>
        <td>Subjects</td>
        <td><a href="/students">Students</a></td>
        </tr>

    </table>

</body>
