<body>
    <h1>Welcome To Simple School App.</h1>
    <table border='1'>
        <tr>
        <td><a href="/teachers">Teachers</a></td>
        <td><a href="/subjects">Subjects</a></td>
        <td><a href="/students">Students</a></td>
        </tr>

    </table>

</body>
