<div>
    <h1>SMK Hacktiv8</h1>
    <h3>Jakarta Selatan - Indonesia</h3>
</div>

<div>
    <button onclick="location.href ='/';">Dashboard</button>
    <button onclick="location.href ='/students';">Students</button>
    <button onclick="location.href ='/teachers';">Teachers</button>
    <button onclick="location.href ='/subjects';">Subjects</button>
    <button onclick="location.href ='/users';">User</button>
    <button onclick="location.href ='/';">Logout</button>
</div>