<!DOCTYPE html>

<html>
    <head>
        <title>
            Hacktiv8 School
        </title>
    </head>
    <body>
        <h1>Welcome to <Hacktiv8></Hacktiv8> School!</h1>

        <p>
            Selamat datang di sekolah Hacktiv8, di sini kamu bisa belajar apa saja yang kamu mau
        </p>
    </body>
</html>
