<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      <li>
        <a class="button" href="/teacher">Teacher</a>
      </li>
      <li>
        <a class="button" href="/subject">Subject</a>
      </li>
      <li>
        <a class="button" href="/student">Student</a>
      </li>
    </h1>
  </body>
</html>
