<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <center>
        <h1>Page Menu</h1>
        <a href="student"><button>Student Page</button></a>
        <a href="teacher"><button>Teacher Page</button></a>
        <a href="subject"><button>Subject Page</button></a>
    </center>
</body>
</html>