<html>
    <head>
        <title> SchoolExpress </title>
        <link href='styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='./'><li>HOME</li></a>
                    <a class='right' href="./students-list.html"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="./teachers-list.html"><li>OUR TEACHERS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <div class='success'>   
                <h1> Thank you for enrolling with us! </h1>
                <br></br>
                <a href='./'><h2>HOME</h2></a>
            </div>
    </body>
</html>