<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="text-align:center;"><%= matkul %></h1>
    <table>
      <tr>
        <th>nama</th>
        <th>score</th>
      </tr>
      <% for(let i=0;i<nama.length;i++){%>
      <tr>
        <td><%= nama[i]%></td>
        <% if(scores[i]===null){%>
          <td><a href="/teachers/allsubject/score/input/<%= studentids[i] %>">Give score</a></td>
        <%}else{%>
          <td><%= scores[i]%></td>
        <%}%>
      </tr>
      <%}%>
    </table>
  </body>
</html>
