<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Give Score</title>
  </head>
  <body>
    <form class="" action="subjects/<%=data.id%>/give_score" method="post">
      <input type="number" placeholder="score" name="score">
      <button>SUBMIT</button>
    </form>
  </body>
</html>
