<div>
  <h1>SMK Hacktiv8</h1>
  <h3>Jakarta Selatan - Indonesia</h3>
</div>

<div>
    <button onclick="location.href ='/add';">Dashboard</button>
    <button onclick="location.href ='/students';">Students</button>
    <button onclick="location.href ='/teachers';">Teachers</button>
    <button onclick="location.href ='/subjects';">Subjects</button>
    <button onclick="location.href ='/users';">User</button>
    <button onclick="location.href ='/';">Logout</button>
</div>

<div>
  <form method="post">
    First Name:<br>
    <input type="text" value="<%=data.firstName%>" name="firstName"><br>
    Last Name:<br>
    <input type="text" value="<%=data.lastName%>" name="lastName"><br>
    Email:<br>
    <input type="text" value="<%=data.email%>" name="email"><br>
    <input type="submit" value="Change!"/>
  </form>
</div>