<html>
    <head>
        <title> SchoolExpress </title>
        <link href='../styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='../'><li>HOME</li></a>
                    <a class='right' href="students.html"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="teachers.html"><li>OUR TEACHERS</li></a>                  
                    <a class='right' href="subjects.html"><li>OUR SUBJECTS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <div class='description'>
                <h1>Our Students</h1>
            </div>
            <table class="table">
                <div>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <!-- <th>Option</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bambang</td>
                            <td>Suprapto</td>
                            <td>bambangsuprapto@sekolah.id</td>
                            <td>Biologi</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Rukmana</td>
                            <td>Fatmawati</td>
                            <td>rukmanafatmawati@sekolah.id</td>
                            <td>Kimia</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Butet</td>
                            <td>Naiborhu</td>
                            <td>butetnaiborhu@sekolah.id</td>
                            <td>Geografi</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Yulius</td>
                            <td>Prawiranegara</td>
                            <td>yuliusprawinegara@sekolah.id</td>
                            <td>Sosiologi</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </body>
</html>