<html>
    <head>
        <title> SchoolExpress </title>
        <link href='../styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='../'><li>HOME</li></a>
                    <a class='right' href="students.html"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="teachers.html"><li>OUR TEACHERS</li></a>                  
                    <a class='right' href="subjects.html"><li>OUR SUBJECTS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <div class='description'>
                <h1>Our Students</h1>
            </div>
            <table class="table">
                <div>
                    <thead>
                        <tr>
                            <% let keys = Object.keys(data[0]) %>
                            <% for (let i = 0; i < keys.length-2; i++){ %>
                            <th><%= keys[i] %></th>
                            <% } %>
                            <th>options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < data.length; i++){ %>
                        <% let values = Object.values(data[i]) %>
                            <tr>
                        <%  for (let j = 0; j < values.length-2; j++) {%>
                            <td><%= values[j] %></td>
                            <% } %>
                            <td> <a>update</a> || <a>delete</a></td>
                            </tr>   
                        <% } %>
                    </tbody>
                </div>
            </table>
        </div>
    </body>
</html>