<html>
    <head>
        <title> SchoolExpress </title>
        <link href='styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='./'><li>HOME</li></a>
                    <a class='right' href="./students-list.html"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="./teachers-list.html"><li>OUR TEACHERS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <form method="POST">
                <h3>Student's Registration Form</h3>
                <p>First Name: </p>
                <input type="text" id="first-name" name='firstName' value="" placeholder="John" />
                <p>Last Name: </p>
                <input type="text" id="last-name" name='lastName' value="" placeholder="Doe" />
                <p>Email: </p>
                <input type="text" id="email" name='email'value="" placeholder="email@company.com" />
                <p></p>
                <button>Submit</button>
            </form>
    </body>
</html>