<%- include header.ejs %>
  <div class="container-fluid">
    <h3>Form Pendaftaran Student</h3>
    <form  action="/student" method="post">
      <div class="form-group">
        <label for="nama">Nama:</label>
        <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukkan Nama Student">
      </div>
      <div class="form-group">
        <label for="umur">Umur:</label>
        <input type="text" name="umur" class="form-control" id="umur" placeholder="Masukkan Umur Student">
      </div>
     <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<%- include footer.ejs %>
