<html>
    <head>
        <title>
            WEBSITE SMDIA
        </title>
        <link href="./css/subjects.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <!-- <div class="table"> -->
            <table align="center">
                <tr>
                    <th>ID</th>
                    <th>Subject Name</th> 
                </tr>
                <% for (var i = 0; i < arrSubjects.length; i++) { %>
                <tr>
                    <td><%= arrSubjects[i].id %></td>
                    <td><%= arrSubjects[i].subject_name %></td>
                </tr>
                <% } %>
    
            </table>
        <!-- </div> -->

    </body>


</html>