<%- include header.ejs %>
  <div class="container-fluid">
    <br>
    <h3>Subject Data</h3>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Subject Name</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < subjects.length; i++) { %>
          <tr>
            <td>
              <%= subjects[i].id %>
            </td>
            <td>
              <%= subjects[i].subjectName %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <%- include footer.ejs %>