<html>
    <head>
        <title> SchoolExpress </title>
        <link href='../styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='../'><li>HOME</li></a>
                    <a class='right' href="students.html"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="teachers.html"><li>OUR TEACHERS</li></a>                  
                    <a class='right' href="subjects.html"><li>OUR SUBJECTS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <div class='description'>
                <h1>Our Subjects</h1>
            </div>
            <table class="table">
                <div>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ekonomi</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Fisika</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Biologi</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Programming</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </body>
</html>