<html>
    <head>
        <title> SchoolExpress </title>
        <link href='../styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='../'><li>HOME</li></a>
                    <a class='right' href="../list/students.html"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="../list/teachers.html"><li>OUR TEACHERS</li></a>                  
                    <a class='right' href="../list/subjects.html"><li>OUR SUBJECTS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <form method="POST">
                <h3>Subject Registration Form</h3>
                <p>Subject Name: </p>
                <input type="text" id="subject-name" name="subject_name" placeholder="Programming" />
                <p></p>
                <button>Submit</button>
            </form>
    </body>
</html>