<html>
    <head>

    </head>
    <body>
        <form action="/subject/<%= id %>/edit" method="POST">
            Subject Name:<br>
            <input type="text" name="name">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>