<%- include header.ejs %>
  <br>
  <div class="container-fluid">
    <h3>Student Berhasil Terdaftar, Terimakasih!</h3>
    <p> Nama : <%= nama %> </p>
    <p> Umur : <%= umur %> </p>
    <a href="/" class="btn btn-primary">Kembali Ke Home</a>
  </div>
<%- include footer.ejs %>
