<html>
    <head>
        <title>
            WEBSITE SMDIA
        </title>
        <link href="../css/form.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1><%= title %></h1>
        </header>

        <form method="POST"> 
            First Name:<br>
            <input type="text" name="first_name"><br>
            Last Name:<br>
            <input type="text" name="last_name"><br>
            Email:<br>
            <input type="text" name="email"><br>
            Subject ID:<br>
            <input type="text" name="SubjectId"><br><br>            
            <input type="submit" value="Add Teachers">
        </form>
    </body>

</html>