<html>
    <head>
        DAFTAR GURU SMK HACKER
    </head>

    <body>
        <table  >
            <tr>
                <th>Fullname</th>
                <th>Bidang</th> 
                <th>Age</th>
            </tr>
            <tr>
                <td>IP Man</td>
                <td>Guru Olahraga</td> 
                <td>50</td>
            </tr>
            <tr>
                <td>Michael Jackson</td>
                <td>Guru Musik</td> 
                <td>94</td>
            </tr>
            <tr>
                <td>Bill Gates</td>
                <td>Guru Codingk</td> 
                <td>54</td>
            </tr>
        </table>

    </body>


</html>