<html>
    <head>
        <link href="/style/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="tag-line">
            <h1>Welcome to Hacktiv8 School !</h1>
        </div>
        
        <div id = "logo-school">
            <img src="/images/hacktiv8.png">
        </div>

        <div class="insert-form">
            <form action="/teachers/add" method="POST">
                <input type="text" name="teacher_name" placeholder="Enter teacher name.." style="width:300px;height:30px">
                <br>
                <br>
                <input type="email" name="teacher_email" placeholder="Enter teacher email.." style="width:300px;height:30px">
                <br>
                <br>
                <select name="teacher_subject">
                    <% subjects.forEach(function(subject) { %>
                        <option value=<%= subject.id %>><%= subject.name %></option>
                    <% })%>
                </select>
                <br>
                <br>
                <input type="submit" value="Daftar !" style="margin-left:35%;width:100px;height:30px">
            </form>
        </div>        
    </body>
</html>