<html>
    <head>

    </head>
    <body>
        <form action="/teacher/<%= id %>/edit" method="POST">
            Name:<br>
            <input type="text" name="name">
            <br>
            Email:<br>
            <input type="text" name="email">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>