<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>belajar express</title>
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
    <style media="screen">
      @font-face {
          font-family: 'papantulis';
          src: url('fontpapantulis.ttf');
      }
      body{
        background: url('belakang.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .konten{
        background-image:url('papantulis.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right : 200px;
        margin-left : 200px;
        height : 500px;
        padding-top: 1px
      }
      .table{
        margin: 80px;
      }
      td{
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;
        color :white;
      }
      th{
        padding-top:10px;
        padding-bottom:10px;
        font-family: 'papantulis';

      }
      h1{
        text-align: center;
        font-family: 'papantulis';
        color:white;
        font-size: 50px;
      }
      table{
        border-style: inset;
        border-collapse: collapse;
        border-color: white;
      }
    </style>
  </head>
  <body>
    <div class="konten">
      <div class="table">
        <h1>DAFTAR GURU</h1>
        <table border='1'>
          <tr>
            <th style="padding-left:5px; padding-right:5px"> NO </th>
            <th width="30%">NAMA</th>
            <th width="20%">KELAMIN</th>
            <th width="20%">MATA KULIAH</th>
            <th width="30%">STATUS</th>
          </tr>
          <% for(let i=0;i<guru.length;i++){ %>
          <tr>
            <% for(let j=0;j<guru[i].length;j++){%>
            <td><%= guru[i][j] %></td>
            <% } %>
            <td><a href="#"><button>update</button></a>
            <a href="#"><button>delete</button></a> </td>
          </tr>
          <% } %>
        </table>
      </div>
    </div>

  </body>
</html>
