<html>
    <head>
        <title> SchoolExpress </title>
        <link href='../styles/style.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <a href='../'><li>HOME</li></a>
                    <a class='right' href="../list/students"><li>OUR STUDENTS</li></a>                  
                    <a class='right' href="../list/teachers"><li>OUR TEACHERS</li></a>                  
                    <a class='right' href="../list/subjects"><li>OUR SUBJECTS</li></a> 
                </ul>
            </nav>
        </header>
        <div class='home-container'>
            <form method="POST">
                <h3>Teacher's Registration Form</h3>
                <p>First Name: </p>
                <input type="text" id="first-name" name="first_name" placeholder="John" />
                <p>Last Name: </p>
                <input type="text" id="last-name" name="last_name"placeholder="Doe" />
                <p>Email: </p>
                <input type="text" id="email" name="email" placeholder="email@company.com" />
                <!-- <p>Subject: </p> -->
                <!-- <input type="text" id="subject" name="subject" placeholder="Programming 101" /> -->
                <p></p>
                <button>Submit</button>
            </form>
    </body>
</html>