<html>
    <head>
        <title>
            WEBSITE SMDIA
        </title>
        <link href="../css/form.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    </head>

    <body>
        
        <h3>THANKS !</h3><br>
        <h3>It has been successfully updated / delete !</h3>
        
    </body>


</html>