<% include ./partials/header%>
<container>
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
        <form action="/subjects/update/<%=dataSubject.id%>" method="post">
            <div class="form-group">
                <label for="last_name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" name="name" value="<%=dataSubject.name%>">
            </div>
            <button>UPDATE</button>
        </form>
        </div>
    </div>
</container>
