<!-- view/home.ejs -->

<html>
    <head>
        <title>WikaSilo School | P1W3</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div>
            <%- include('partials/navbar')  %>
            <div>
                <p>Lets check our school!</p>
            </div>
            <%- include('partials/footer') %>
        </div>
    </body>
</html>