<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Subjects Data</title>

   <link rel="stylesheet" href="/css/style.css">
</head>

    <body>
        <ul id="nav_bar">
             <li><a href="/students">Students</a></li>
             <li><a href="/teachers">Teachers</a></li>
             <li><a href="/subjects">Subjects</a></li>
        </ul>
        <h1>
            Edit Subjects Data
        </h1>

        <form action='/subjects/edit/' method='post'>
            <input type='hidden' value= "<%=tempObj.id%>" name = "id">
            Subject Name: <br>
            <input type='text' value= "<%=tempObj.subject_name%>" name='subject_name'><br>
            <input type='submit' value = 'Edit Subject'>
        </form>
    </body>
