body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding: 5%;
    padding-top: 2%;
}

table {
    
}

td {
    text-align: center;
    font-size: small;
    table-layout: fixed;
}

form {
    display: block;
    margin-top: 0em;
}
