<footer class="page-footer teal lighten-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Express One to Many</h5>
              <p class="grey-text text-lighten-4">this is for you, Mr. Erwin :)</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Our Social Media</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Fuadi Naqi
          <a class="grey-text text-lighten-4 right" href="#!">About us</a>
          </div>
        </div>
      </footer>
      