<head>
        <script type="text/javascript">
          $(".dropdown-button").dropdown();
        </script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" />
        <meta charset="utf-8">
        <title>Contact Address</title>
      </head>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue lighten-2">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li class="waves-effect"><a href="/">Home</a></li>
              <li class="waves-effect"><a href="/student">Student</a></li>
              <li class="waves-effect" class="active"><a href="/teacher">Teacher</a></li>
              <li class="waves-effect" class="active"><a href="/subject">Subject</a></li>
            </ul>
      
          </div>
        </nav>
      </div>
      