<!DOCTYPE html>
<html lang="en">

    <head>
        
    </head>

    <body>

        <h1><%= message %></h1>
        <a href="/teachers">Teacher</a>
        <a href="/students">Student</a>
        <a href="/subjects">Subject</a>

    </body>

</html>