* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

nav {
  display: block;
  background-image: url("../images/water-color.jpg");
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

#mainNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  padding: 14px 16px;
}

.navbar-brand {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
  float: left;
  text-decoration: none;
}

.navbar-brand:hover {
  color:white
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  font-size: 1.05rem;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color:white;
}

.box {
  width: 100%;
  max-width: 1140px;
  padding-top: 10rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pure-form {
  float: left;
  display: inline-block;
}

.pure-form fieldset {
  color: rgba(59, 56, 56, 0.7);
  font-size:0.9rem;
  font-weight: 700;
  border: 0;  
}

.pure-form-stacked label,
.pure-form-stacked select{
  font-size: 0.8rem;
  display: block;
  margin: 0.25em 0;
}

.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="text"] {
  display: block;
  font-size: 0.8rem;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.pure-form button[type="submit"] {
  margin: 0.7em 0 0;
}

.pure-button {
  font-size: 0.8rem;
  font-family: "Merriweather";
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

table {
  color: rgba(39, 38, 38, 0.7);
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 68%; 
  margin-right: auto;
}

.table-striped {
  float: center;
}

th, td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}