@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
    box-sizing: border-box;
}
body {
    background: url("fleck-white.png"), linear-gradient(to bottom left, rgb(243, 153, 47), rgb(245, 75, 129));
}
header {
    background-color: rgba(25, 25, 25, 0.798);
    border-bottom: 1px solid rgba(61, 62, 62, 0.374);
    box-shadow: 1px 1px 6px 0px #2e445fdf ;
    /* position: 'fixed' will always be on top of page - this is mainly used for nav bar */
    position: fixed;
    top: 0.01em; 
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10; 
  }
  ul {
    margin: 0px auto;
    padding: 1px;
    text-align: center;
  }
  li {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder ;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: inline-block;
    width: auto;
    padding: 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.798);
  }
  li:hover {
    color: rgb(245, 75, 129);
    transition: 0.3s;
  }
  .home-container {
    margin-right: 20%;
    margin-left: 20%;
    font-family: Helvetica ,Arial, sans-serif;
    color: white;
    
  }
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  a:hover{
    color: rgb(205, 41, 93);
    transition: 0.3s;
  }
  .introduction {
    position: relative;
    top: 3em;
    text-align: center;
  }
  .home-body{
    background-color: rgba(0, 0, 0, 0.374);
    box-sizing: border-box;
    width: 100%;
    top: 3em;
    margin-top: 30px;
    display: inline-grid;
    position: relative;
    text-align: center;
    padding: 35px;
    border-radius: 15px 15px 15px 15px;
  }
  form {
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10em;
    padding:15px;
    padding-bottom: 40px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.559);
    border-radius: 10px 10px 10px 10px;
  }
  .success {
    text-align: center;
    margin-top:20em;
  }
  table {
    margin-top:4em;
    border-spacing: 5px 1rem;
  }
  .table {
    align-content: center;
    font-family: Helvetica,Arial,sans-serif;
    color: rgba(255, 255, 255, 0.545);
    border-collapse: collapse;
    width: 100%
  }
  th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px 5px 10px 50px;
  }

  tr:hover {
    background-color: #fc5959ae;
  }

  .description h1{
    /* font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif; */
    /* width:40%; */
    /* top: 10em; */
    margin-top:3.5em;
    margin-left: auto;
    margin-right: auto;
    /* padding:15px; */
    /* padding-bottom: 40px; */
    text-align: center;
    /* position: relative; */
  }

  #correction {
    margin-top:2em;
  }